/* app global css */

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
.header-class {
  background-color: white;
  height: 60px;
  width: auto;
}

.top-menu {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.tab-menu {
  height: 90%;
  width: 100%;
}
.login-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.text-wsfont {
  font-family: "Wanted Sans";
}

.main-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 55px;
  height: auto;
}
